#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define MAIN 0
#define SYM 1
#define NUM 2
#define NAV 3
#define RFN 4
#define LFN 5

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <250>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <SYM NUM>;
            then-layer = <NAV>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        MAIN_layer {
            bindings = <
                              &kp W        &kp E      &kp R         &kp T         /*    */ &kp Y             &kp U         &kp I          &kp O
            &kp Q &hm LCTRL A &kp S        &kp D      &kp F         &kp G         /*    */ &kp H             &kp J         &kp K          &kp L          &hm LCTRL SEMI  &kp P
                  &hm LCTRL Z &hm LSHIFT X &hm LALT C &hm LCMD V    &kp B         /*    */ &kp N             &hm LCMD M    &hm LALT COMMA &hm LSHIFT DOT &hm LCTRL SLASH
                                           &none      &lt SYM SPACE &lt NUM ENTER /*    */ &lt SYM BACKSPACE &lt NUM SPACE &none
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_DOWN K_SCROLL_UP>;
        };

        SYM_layer {
            bindings = <
                                    &kp AT_SIGN    &kp HASH      &kp DOLLAR   &kp PERCENT /*    */ &kp CARET &kp AMPERSAND &kp ASTERISK  &kp UNDERSCORE
            &kp ESC &hm LCTRL TAB   &kp MINUS      &kp EQUAL     &kp EXCL     &kp SEMI    /*    */ &kp BSLH  &kp GRAVE     &kp LPAR      &kp RPAR        &hm LCTRL ENTER &kp BACKSPACE
                    &hm LCTRL COMMA &hm LSHIFT DOT &hm LALT BSLH &hm LCMD SQT &kp GRAVE   /*    */ &kp PIPE  &hm LCMD LBKT &hm LALT RBKT &hm LSHIFT LBRC &hm LCTRL RBRC
                                                   &trans        &trans       &trans      /*    */ &trans    &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_DOWN K_SCROLL_UP>;
        };

        NUM_layer {
            bindings = <
                                   &kp LPAR      &kp LBRC      &kp LBKT     &trans    /*    */ &kp EQUAL &kp N7  &kp N8 &kp N9
            &kp ESC  &hm LCTRL TAB &kp UNDER     &kp PLUS      &kp RPAR     &kp COLON /*    */ &kp MINUS &kp N4  &kp N5 &kp N6 &hm LCTRL ENTER &kp BACKSPACE
                     &hm LCTRL LT  &hm LSHIFT GT &hm LALT PIPE &hm LCMD DQT &kp TILDE /*    */ &kp N0    &kp N1  &kp N2 &kp N3 &hm LCTRL QMARK
                                                 &trans        &trans       &trans    /*    */ &trans    &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_DOWN K_SCROLL_UP>;
        };

        NAV_layer {
            bindings = <
                            &kp K_BACK &kp K_FORWARD &trans   &trans    /*    */ &trans   &trans    &kp K_BACK &kp K_FORWARD
            &kp ESC &kp TAB &kp LEFT   &kp UP        &kp DOWN &kp RIGHT /*    */ &kp LEFT &kp DOWN  &kp UP     &kp RIGHT &kp ENTER &kp BACKSPACE
                    &sl LFN &kp PG_DN  &kp PG_UP     &kp END  &trans    /*    */ &kp HOME &kp PG_DN &kp PG_UP  &kp END   &sl RFN
                                       &trans        &trans   &trans    /*    */ &trans   &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_DOWN K_SCROLL_UP>;
        };

        RFN_layer {
            bindings = <
                            &reset &bootloader  &none  &out OUT_TOG /*    */ &kp F12      &kp F7       &kp F8 &kp F9
            &none   &none   &none  &none        &none  &out OUT_BLE /*    */ &kp F11      &kp F4       &kp F5 &kp F6 &none       &none
                    &none   &none  &none        &none  &out OUT_USB /*    */ &kp F10      &kp F1       &kp F2 &kp F3 &bootloader
                                   &none        &none  &none        /*    */ &out OUT_BLE &out OUT_USB &none
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_DOWN K_SCROLL_UP>;
        };

        LFN_layer {
            bindings = <
                                  &kp F12  &kp F7       &kp F8       &kp F9       /*    */ &out OUT_TOG &none  &bootloader  &reset
            &kp ESC &kp TAB       &kp F11  &kp F4       &kp F5       &kp F6       /*    */ &out OUT_BLE &none  &none        &none  &kp ENTER &kp BACKSPACE
                    &bootloader   &kp F10  &kp F1       &kp F2       &kp F3       /*    */ &out OUT_USB &none  &none        &none  &none
                                           &none        &out OUT_USB &out OUT_BLE /*    */ &none        &none  &none 
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_DOWN K_SCROLL_UP>;
        };
    };
};
